.wp-block-pcn-pcn-section {
    
    .pcn-section__button {
        cursor: text;
    }

    .pcn-section__button:focus, .pcn-section__button:active {
        background-color: rgba(0,0,0,0);
        border-color: white;
        color: white;
    }

    .alignfull,
    .alignwide {
        margin-left  : calc( -85vw / 2 + 100% / 2 );
        margin-right : calc( -85vw / 2 + 100% / 2 );
        width: 85vw;
        max-width: 85vw;
    }

    
}
.editor-url-input input {
    max-width: 101%;    
}

.editor-url-input input:nth-child(1) {
    margin-bottom: 1.5em;
}